<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <ul class="nav justify-content-center" style="padding-bottom:20px">
            <li class="nav-item">
              <a class="nav-link active" href="#">Voucher</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Ledger</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Items</a>
            </li>
          </ul>
    </div>
  
      <div class="form-group row">
        <label for="example-text-input" class="col-2 col-form-label">Reference No.</label>
        <div class="col-3">
          <input class="form-control" type="text" value="ABCD1234" id="example-text-input">
        </div>
        <label for="example-text-input" class="col-2 col-form-label"></label>
        <div class="col-3">
          <input class="form-control" type="date" value="2011-08-19" id="example-date-input">
        </div>
      </div>
  
      <div class="form-group row">
        <label for="example-text-input" class="col-2 col-form-label">Party A/C Name</label>
        <div class="col-10">
          <input class="form-control" type="text" value="Party A/C Name" id="example-text-input">
        </div>
      </div>
  
      <div class="form-group row">
        <label for="example-text-input" class="col-2 col-form-label">Current Balance</label>
        <div class="col-10">
          <input class="form-control" type="number" value="382456" id="example-text-input">
        </div>
      </div>
  
      <table class="table table-striped">
        <thead>
          <tr>
            <th>#</th>
            <th>Name of the Item</th>
            <th>Quantity</th>
            <th>Rate(W Tax)</th>
            <th>Rate(per Pc.)</th>
            <th>Amount</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Item 1</td>
            <td>43</td>
            <td>22.6</td>
            <td>17.1</td>
            <td>971.6</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Item 2</td>
            <td>43</td>
            <td>22.6</td>
            <td>17.1</td>
            <td>971.6</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Item 3</td>
            <td>43</td>
            <td>22.6</td>
            <td>17.1</td>
            <td>971.6</td>
          </tr>
        </tbody>
      </table>
  
      <div class="form-group row">
        <label for="example-text-input" class="col-6 col-form-label" style="text-align:right">Total</label>
        <div class="col-6">
          <input class="form-control" type="number" value="2915.4" id="example-text-input" style="text-align:right">
        </div>
      </div>
  <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
</body>
</html>